.sectionImages {
  max-width: 1024px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;

  @media (max-width: 440px) {
    grid-template-columns: 1fr;
  }
}

.imageCard3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--whiteColor);
  border-radius: 60px;
  height: 400px;
  padding: 25px;
  text-align: center;

  @media (max-width: 440px) {
    height: 500px;
    border-radius: 40px;
  }
}

.imageCard2Title {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -1.25px;

  @media (max-width: 440px) {
    font-size: 22px;
    line-height: 95%;
    letter-spacing: -0.05em;
  }
}

.imageCardImg {
  width: 100%;
  height: 200px;
  position: relative;

  @media (max-width: 440px) {
    height: 290px;
  }
}

.imageCover {
  & img {
    object-fit: cover !important;
  }

  @media (max-width: 440px) {
    & img {
      object-fit: cover;
    }
  }
}

.imageAdvantage1 {
  @media (max-width: 768px) {
    width: 140%;
  }

  @media (max-width: 440px) {
    width: 140%;
    height: 200px;
  }
}

.imageCard2Data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imageCard2Text {
  font-size: 19px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.05em;
  max-width: 375px;

  @media (max-width: 440px) {
    /*padding: 0 25px;*/
  }
}

.imageCard2TextComment {
  max-width: 375px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.7px;
  letter-spacing: -0.05em;
  color: var(--text-secondaryColor);

  @media (max-width: 440px) {
    /*padding: 0 25px;*/
  }
}

.imageContain {
  & img {
    object-fit: contain;
  }

  @media (max-width: 440px) {
    & img {
      object-fit: contain;
    }
  }
}
